/* ---------------------------------------------------------FONTS------------------------------------------------------------------------ */
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/RobotoRegular.woff2') format('woff2');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/RobotoMedium.woff2') format('woff2');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Gelasio';
	src: url('../fonts/GelasioMedium.woff2') format('woff2');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Gelasio';
	src: url('../fonts/GelasioBold.woff2') format('woff2');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Ribeye';
	src: url('../fonts/RibeyeRegular.woff2') format('woff2');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
/* -------------------------------------------------------GENERAL------------------------------------------------------------------------ */
body {
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: 18px;
}
body._fixed {
	overflow: hidden;
}
:root {
	--offset: 140px;
	--offsetHeader: 60px;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0px 15px;
}
.logo {
	font-family: 'Ribeye';
	font-size: 24px;
	line-height: 150%;
	letter-spacing: 0.06em;
	color: #FFFFFF;
}
.btn {
	display: inline-block;
	padding: 14px 35px;
	background-color:#C9453B;
	border-radius: 5px;
	font-size: 16px;
	line-height: 150%;
	color: #FFFFFF;
	transition: background-color 0.3s ease 0s;
}
._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.title {
	font-family: 'Gelasio';
	font-weight: 500;
	font-size: 43px;
	line-height: 140%;
}
.subtitle {
	font-size: 18px;
	line-height: 160%;
	opacity: 0.6;
}
.label {
	font-family: 'Gelasio';
	font-weight: 500;
	font-size: 24px;
	line-height: 150%;
}
@media (max-width: 767px) {
	:root {
		--offset: 70px;
		--offsetHeader: 30px;
	}
	.title {
		font-size: 36px;
	}
	.subtitle {
		font-size: 18px;
	}
	.label {
		font-size: 20px;
	}
}
@media (max-width: 479px) {
	.container {
		padding: 0px 20px;
	}
	.title {
		font-size: 32px;
	}
	.subtitle {
		font-size: 16px;
	}
}
@media (max-width: 319px) {
	.title {
		font-size: 28px;
	}
	.subtitle {
		font-size: 14px;
	}
	.label {
		font-size: 16px;
	}
}
/* --------------------------------------------------------PAGE-------------------------------------------------------------------------- */
.page {
	flex: 1 1 auto;
}
.page__hero {
}
.page__location {
}
.page__offers {
}
.page__blog {
}
/* -------------------------------------------------------HEADER------------------------------------------------------------------------- */
.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 121px;
}
.menu__list {
	display: flex;
}
.menu__item:not(:last-child) {
	margin-right: 50px;
}
.menu__link {
	font-weight: 500;
	line-height: 150%;
	color: #FFFFFF;
}
.menu__link:hover {
	text-decoration: underline;
}
.header__button:hover {
	background-color: #e06b63;
}
.close-burger,
.main-burger {
	display: none;
	position: relative;
	width: 25px;
	height: 18px;
	background-color: transparent;
	cursor: pointer;
}
.burger::before,
.burger::after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #fff;
	transition: transform 0.2s ease-in-out, top 0.2s ease-in-out, bottom 0.2s ease-in-out;
}
.burger::before {
	top: 0;
}
.burger::after {
	bottom: 0;
}
.main-burger__line {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 2px;
	background-color: #fff;
	transform: translateY(-50%);
	transition: opacity 0.2s ease-in-out;
}
.close-burger::before {
	top: 50%;
	transform: rotate(45deg);
}
.close-burger::after {
	bottom: auto;
	top: 50%;
	transform: rotate(-45deg);
}
@media (max-width: 1024px) {
	.header__container {
		min-height: 75px;
	}
	.header__buttons {
		display: flex;
		align-items: center;
	}
	.header__button {
		margin-right: 15px;
	}
	.header__menu {
		position: fixed;
		right: 0;
		top: 0;
		z-index: 60;
		width: 70%;
		max-width: 400px;
		height: 100vh;
		background-color: rgb(31, 31, 31);
		transform: translateX(100%);
		transition: transform 0.2s ease-in-out;
		overflow-y: auto;
	}
	.header__menu--visible {
		transform: none;
	}
	.menu__body {
		position: relative;
		height: 100%;
	}
	.menu__list {
		flex-direction: column;
	}
	.menu__item {
		width: 100%;
	}
	.menu__item:not(:last-child) {
		margin-right: 0;
	}
	.menu__link {
		display: inline-block;
		width: 100%;
		font-size: 24px;
		padding: 20px 20px;
		border-bottom: 1px solid #FFFFFF;
	}
	.burger-wrap {
		display: flex;
		align-items: center;
		height: 75px;
		padding-left: 20px;
		border-bottom: 1px solid #FFFFFF;
	}
	.main-burger,
	.close-burger {
		display: block;
	}
}
@media (max-width: 479px) {
	.btn {
		padding: 10px 25px;
	}
}
@media (max-width: 374px) {
	.logo {
		font-size: 16px;
	}
}
@media (max-width: 319px) {
	.header__button {
		padding: 10px 10px;
		margin-right: 7px;
	}
}
/* -------------------------------------------------------HERO--------------------------------------------------------------------------- */
.hero {
	position: relative;
	min-height: 100vh;
}
.hero__cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 100vh;
}
.hero__body {
	position: relative;
	z-index: 2;
	max-width: 804px;
	padding: 286px 0px 30px 0px;
}
.hero__title {
	font-family: 'Gelasio';
	font-weight: 700;
	font-size: 65px;
	line-height: 120%;
	color: #FFFFFF;
}
.hero__title:not(:last-child) {
	margin-bottom: 30px;
}
.hero__text {
	max-width: 458px;
	line-height: 160%;
	color: #FFFFFF;
	opacity: 0.6;
}
.hero__text:not(:last-child) {
	margin-bottom: 40px;
}
.hero__button {
	padding: 18px 46px;
}
.hero__button:hover {
	background-color: #e06b63;
}
@media (max-width: 1520px) {
	.hero__body {
		padding: 220px 0px 30px 0px;
	}
	.hero__cover img {
		object-position: 80%;
	}
}
@media (max-width: 991px) {
	.hero__body {
		padding: 200px 0px 30px 0px;
	}
	.hero__title {
		font-size: 55px;
	}
}
@media (max-width: 767px) {
	.hero__body {
		padding: 200px 0px 30px 0px;
	}
	.hero__title {
		font-size: 35px;
	}
	.hero__text {
		font-size: 16px;
	}
}
@media (max-width: 479px) {
	.hero__body {
		padding: 140px 0px 30px 0px;
	}
	.hero__cover img {
		object-position: 80%;
	}
	.hero__button {
		width: 100%;
		text-align: center;
	}
}
/* -----------------------------------------------------LOCATION------------------------------------------------------------------------- */
.location {
	padding-top: var(--offset);
}
.location__header {
	margin-bottom: var(--offsetHeader);
	text-align: center;
}
.location__title:not(:last-child) {
	margin-bottom: 20px;
}
.location__subtitle {
	max-width: 735px;
	margin: 0 auto;
}
.location__body {
	display: flex;
	margin: 0px -15px;
}
.location__column {
	flex: 0 1 33.333%;
	padding: 0px 15px;
}
.location__column .item-cards:hover  {
	box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.08);
}
.location__item {
	height: 100%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}
.item-cards {
	transition: box-shadow 0.2s ease-in-out;
}
.item-cards__body {
	padding: 35px 27px 33px;
	text-align: center;
}
.item-cards__image img {
	max-width: 100%;
}
.item-cards__label:not(:last-child) {
	margin-bottom: 10px;
}
.item-cards__text {
	line-height: 160%;
	opacity: 0.6;
}
@media (max-width: 991px) {
	.location__body {
		flex-direction: column;
		align-items: center;
		margin: 0;
	}
	.location__column {
		flex: 0 0 360px;
		padding: 0;
	}
	.location__column:not(:last-child) {
		margin-bottom: 20px;
	}
	.location__item {
		max-width: 360px;
	}
}
@media (max-width: 479px) {
	.item-cards__text {
		font-size: 16px;
	}
	.item-cards__body {
		padding: 25px 20px 25px;
		text-align: center;
	}
}
@media (max-width: 319px) {
	.item-cards__text {
		font-size: 14px;
	}
}
/* --------------------------------------------------OFFERS------------------------------------------------------------------------------ */
.offers {
	padding-top: var(--offset);
}
.offers__header {
	margin-bottom: var(--offsetHeader);
	text-align: center;
}
.offers__title:not(:last-child) {
	margin-bottom: 20px;
}
.offers__subtitle {
	max-width: 656px;
	margin: 0 auto;
}
.offers__slider {
	position: relative;
	margin: 0 auto;
	max-width: 1920px;
}
.slick-list {
	overflow: hidden;
	padding-bottom: 52px;
}
.slick-track {
	display: flex;
}
.slider__item {
	transition: opacity 0.3s ease-in-out;
	cursor: pointer;
}
.slider__item:hover {
	opacity: 0.5;
}
.slide {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.slide__wrapper {
	margin: 0 auto;
}
.slide__wrapper > *:not(:last-child) {
	margin-bottom: 8px;
}
.slide__image {
	border-radius: 10px;
	margin-bottom: 20px;
}
.slide__image img {
	max-width: 100%;
}
.slide__title {
	font-family: 'Gelasio';
	font-weight: 500;
	font-size: 24px;
	line-height: 150%;
}
.slide__wrap {
	display: flex;
}
.slide__location {
	display: flex;
	align-items: center;
	column-gap: 10px;
	font-size: 20px;
	line-height: 150%;
	opacity: 0.6;
	margin-right: 50px;
}
.slide__label {
	width: 11px;
	height: 15px;
}
.slide__label img {
	max-width: 100%;
}
.slide__rate {
	display: flex;
	align-items: center;
	column-gap: 10px;
	line-height: 150%;
}
.slide__star {
	width: 24px;
	height: 24px;
}
.slide__star img {
	max-width: 100%;
}
.slide__duration {
	font-size: 16px;
	line-height: 150%;
	opacity: 0.6;
}
.slide__price {
	font-weight: 500;
	line-height: 150%;
}
.slide__price span {
	opacity: 0.6;
}
/* CONTROLS SLIDER */
.controls {
	display: flex;
	align-items: center;
	justify-content: center;
}
/* DOTS */
.slick-dots{
	display: flex;
	height: 10px;
	margin: 0px 10px;
}
.slick-dots li{
	display: flex;
	align-items: center;
}
.slick-dots li:not(:last-child){
	margin-right: 3px;
}
.slick-dots li.slick-active button{
	background-color: #C9453B;
}
.slick-dots button{
	font-size: 0;
	width: 75px;
	height: 5px;
	background-color: rgba(201, 69, 59, 0.1);
	border-radius: 10px;
	transition: background-color 0.3s ease-in-out;
}
/* ARROWS */
.slick-arrow {
	font-size: 0;
	width: 14px;
	height: 12px;
}
.slick-arrow.slick-prev {
	background: url('../img/icons/arrow-prev.svg') 0 0 / 100% no-repeat;
}
.slick-arrow.slick-next {
	order: 2;
	background: url('../img/icons/arrow-next.svg') 0 0 / 100% no-repeat;
}
@media (max-width: 576px) {
	.slider__item:hover {
		opacity: 1;
	}
	.slick-dots button{
		width: 50px;
		height: 4px;
	}
}
@media (max-width: 424px) {
	.slick-list {
		padding-bottom: 25px;
	}
	.slick-dots button{
		width: 40px;
		height: 4px;
	}
}
/* ---------------------------------------------------------BLOG------------------------------------------------------------------------- */
.blog {
	padding-top: var(--offset);
}
.blog__header {
	margin-bottom: var(--offsetHeader);
	text-align: center;
}
.blog__title:not(:last-child) {
	margin-bottom: 20px;
}
.blog__subtitle {
	max-width: 656px;
	margin: 0 auto;
}
.blog__body {
	display: flex;
}
.item-blog__body > *:not(:last-child) {
	margin-bottom: 10px;
}
.blog__column {
	flex: 0 1 50%;
}
.item-blog__image {
	border-radius: 10px;
	margin-bottom: 35px;
}
.item-blog__image img{
	max-width: 100%;
}
.item-blog__title {
	font-family: 'Gelasio';
	font-weight: 500;
	font-size: 20px;
	line-height: 160%;
}
.item-blog__text {
	max-width: 470px;
	line-height: 160%;
	opacity: 0.6;
}
.item-blog__link {
	font-weight: 500;
	font-size: 20px;
	line-height: 150%;
	color: #000000;
}
.blog-small {
	display: flex;
	align-items: center;
	padding-left: 18px;
}
.blog-small:not(:last-child) {
	margin-bottom: 30px;
}
.blog-small__body {
	padding-left: 27px;
}
.blog-small__image {
	flex: 0 0 263px;
}
.blog-small__image img{
	max-width: 100%;
}
.blog-small__title {
	font-family: 'Gelasio';
	font-weight: 500;
	font-size: 20px;
	line-height: 150%;
	margin-bottom: 10px;
}
.blog-small__text {
	line-height: 160%;
	opacity: 0.6;
	margin-bottom: 5px;
}
.blog-small__link {
	font-size: 20px;
	line-height: 150%;
	color: #000000;
	opacity: 0.8;
}
@media (max-width: 1120px) {
	.blog__body {
		flex-direction: column;
		align-items: center;
	}
	.blog__column {
		max-width: 554px;
	}
	.blog__column:not(:last-child) {
		margin-bottom: 50px;
	}
	.blog-small {
		padding-left: 0;
	}
	.item-blog__text {
		max-width: none;
	}
}
@media (max-width: 575px) {
	.item-blog__image {
		margin-bottom: 20px;
	}
	.blog-small {
		flex-direction: column;
		align-items: center;
	}
	.blog-small__image {
    flex: 0;
	}
	.blog-small__image:not(:last-child) {
		margin-bottom: 20px;
	}
	.blog-small__body {
		text-align: center;
		padding-left: 0;
	}
}
/* ------------------------------------------------------FOOTER-------------------------------------------------------------------------- */
.footer {
	margin-top: var(--offset);
	background-color: rgba(38, 148, 153, 0.04);
}
.footer__body {
	display: flex;
	justify-content: space-between;
	padding: 70px 0px 78px 0px;
}
.footer__column {
	flex: 0 1 20%;
	padding-right: 15px;
}
.footer__column:last-child {
	flex: 0 1 auto;
}
.footer__logo {
	display: inline-block;
	margin-bottom: 40px;
	color: #000000;
}
.contact__text:not(:last-child) {
	margin-bottom: 10px;
}
.contact__email {
	display: inline-block;
	margin-bottom: 20px;
	color: #000000;
}
.contact__list {
	display: flex;
}
.contact__item:not(:last-child) {
	margin-right: 27px;
}
.contact__link {
	display: inline-block;
	width: 20px;
	height: 20px;
}
.contact__link img {
	width: 100%;
}
.footer__label {
	margin-bottom: 20px;
}
.footer__label,
.menu-footer__link {
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.06em;
}
.menu-footer__item:not(:last-child) {
	margin-bottom: 20px;
}
.menu-footer__link {
	display: inline-block;
	color: #000000;
}
.footer__form {
	display: flex;
	flex-wrap: nowrap;
}
.footer__subscribe {
	display: flex;
	flex-direction: column;
}
.sub {
	font-size: 20px;
	text-transform: uppercase;
}
.subscribe__email {
	width: 195px;
	min-height: 44px;
	background-color: transparent;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 1px 0.1px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	margin-right: 35px;
	padding: 10px 20px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.06em;
	color: #000000;
}
.subscribe__email::placeholder {
	color: #000000;
}
.subscribe__button {
	padding: 10px 32px;
	background: #C9453B;
	border-radius: 5px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.06em;
	color: #FFFFFF;
}
@media (max-width: 1024px) {
	.footer__body {
		flex-wrap: wrap;
	}
	.footer__column {
		flex: 0 1 50%;
		margin-bottom: 45px;
	}
	.footer__column:nth-last-child(2) {
		margin-bottom: 0;
	}
	.footer__column:last-child {
		flex: 0 1 50%;
		margin-bottom: 0;
	}
	.subscribe__email {
		margin-right: 10px;
	}
}
@media (max-width: 767px) {
	.footer__body {
		justify-content: center;
		padding: 30px 0px 30px 0px;
	}
	.footer__column {
		text-align: center;
		padding-right: 0;
	}
	.footer__column,
	.footer__column:nth-last-child(2),
	.footer__column:last-child {
		flex: 0 1 100%;
		margin-bottom: 45px;
	}
	.footer__column:last-child {
		margin-bottom: 0;
	}
	.footer__contact {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.contact__link {
		width: 30px;
		height: 30px;
	}
	.footer__form {
		flex-direction: column;
	}
	.subscribe__email {
		width: 100%;
		margin-bottom: 10px;
		margin-right: 0;
	}
}